<div class="container-fluid container-div">
  <div class="row h-100 display-lg">
    <div class="col-md-12 col-lg-6 left-content">
      <h6 >
      </h6>
    </div>
    <div class="col-md-12 col-lg-6 right-content">
      <h6 >{{ fullName }}</h6>
    </div>
  </div>
  <div class="display-sm">
    <div class="mobile-nav">
      <div class="logo-container">
        Logo
      </div>
      <div class="nav-items">
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-bars"
        ></button>
        <!-- <p-menu #menu [popup]="true" [model]="navLinks" class="menu"> </p-menu> -->
      </div>
    </div>
  </div>
</div>
