<div class="container-fluid container-div">
  <div class="row h-100 display-lg">
    <div class="col-md-12 col-lg-6 left-content">
      <h6 >
      </h6>
    </div>
    <div class="col-md-12 col-lg-6 right-content">
      <h6 >{{ fullName }}</h6>
    </div>
  </div>
  <div class="display-sm">
    <div class="mobile-nav">
      <div class="logo-container">
        <img src="../../../../assets/images/gasco-logo.png" alt="Gasco logo" />
      </div>
      <div class="nav-items">
        <a

          class="cart-icon"
          routerLink="/distributor/store/cart"
        >
          <!-- <i class="pi pi-shopping-cart"></i> -->
          <img src="../../../../assets/images/cart.png" alt="Cart icon" />
          <span class="card-items-container">
            <span class="card-items">{{ 2 }}</span>
          </span>
        </a>
        <button
          type="button"
          pButton
          pRipple
          icon="pi pi-bars"
        ></button>
        <!-- <p-menu #menu [popup]="true" [model]="navLinks" class="menu"> </p-menu> -->
      </div>
    </div>
  </div>
</div>
