@import "../../../../assets/styling/scss/variables/variables";
@import "../../../../assets/styling/scss/mixins/mixins";

.menu-container {
  height: 80px;
  aside {
    max-width: 180px;
    padding: 0;
  }
  nav {
    flex: auto;
    background-color: #2e2668;
  }
}
.main-container {
  width: calc(100% - 180px);
  background: $bg-primary;
  min-height: calc(100vh - 80px);
  padding: 50px 20px;
  margin-left: 180px;
  @media (max-width: $screen-xl) {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  @include sm-max {
    padding: 35px 20px;
  }
  @include md-max {
    padding: 65px 20px;
  }
  @include lg-max {
    padding: 80px 20px;
  }
}
