// Break Point

// For Small Devices (Mobile Devices)
$screen-sm: 320px;

// For maximum width for Small Devices (Mobile Devices)
$screen-sm-max: 767px;

// For Medium Devices (iPads)
$screen-md: 768px;

// For Large Devices (Tablets, Small screens)
$screen-lg: 960px;

// Extra Large Devices ( laptops)
$screen-xl: 1200px;

// Extra Large Devices (Desktops)
$screen-xxl: 1400px;
