// Colors
$white-red: #e17055;
$bg-dark-red: #d63031;
$bg-dark-pink: #e84393;
$bg-dark-gray: #2d3436;
$bg-pale-gray: #f2f2f2;
$bg-light-blue: #5858fc;
$bg-dark-blue: #2b2b83;
$bg-primary: #f1f1f1;
$bg-secondary: #e5e5e5;
$active-color: #17a0db;
$gradient-color-start-one: #262262;
$gradient-color-start-two: #2c2567;
$gradient-color-stop-two: #553b88;
$primaryBlue: #262262;
$bg-black: #000;
$lightBlue: #18a0db;
$darkGrey: #00000061;
$accepted-color: #71984a;
$success: #198754;
$rejected-color: #bf5959;
$pending-color: #fd984e;
$lightPurple: #6f499d;
$inputColor: #00000099;
$white: #ffffff;
$lighterBlue: #c5e0f5;
$placeholder: #6c757d;
$inputBG: #f9f9f9;
$inputBorders: #dbdbdb;
$purple: #9f6ea4;
$transparent: transparent;
$navyBlue: #156fff;
$dimmedWhite: #e8e9f1;
$darkPurple: #5a266c;
$borderColor: #21212114;
$panelBorderColor: #0000001f;
$darkColor: #000000de;
$blueColor: #366db2;
$linkColor: #0d6efd;
$customBorder: #e9ecef;
