<configuration>
<system.webServer>
  <rewrite>
    <rules>
      <rule name="Redirect all requests" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="/" />
        </rule>
    </rules>
  </rewrite>
        <security>
            <requestFiltering>
                <requestLimits maxUrl="1000000" maxQueryString="1000000" />
            </requestFiltering>
        </security>
	

</system.webServer>
	<system.web>
		<customErrors mode="Off"/>
		<httpRuntime maxUrlLength="10999" maxQueryStringLength="2097151" />

	</system.web>
		
</configuration>
